body {
  background-color: green;
}

header {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: skyblue;
  width: 90%; 
  margin: auto;
}

form {
  background-color: blue;
  padding: 1em 1em 1em;
}

label {
  display: flex;
  grid-column: 2 / span 2;
  padding-bottom: .5em;
}

